<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name ="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logFile" xsi:type="File" keepFileOpen="false" encoding="iso-8859-2"
              fileName="${basedir}\\Logs\\log_${shortdate}.txt" />
    </targets>

    <!-- Log levels are Off, Trace, Debug, Info, Warn, Error, Fatal-->
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logFile" />
    </rules>
  </nlog>
</configuration>